In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/waiting_times.csv")

In [3]:
df

,WORK_DATE,DEB_TIME,DEB_TIME_HOUR,FIN_TIME,ENTITY_DESCRIPTION_SHORT,WAIT_TIME_MAX,NB_UNITS,GUEST_CARRIED,CAPACITY,ADJUST_CAPACITY,OPEN_TIME,UP_TIME,DOWNTIME,NB_MAX_UNIT
0,2018-01-01,2018-01-01 21:00:00.000,21,2018-01-01 21:15:00.000,Roller Coaster,0,2.0,0.0,0.000,0.00,0,0,0,2.0
1,2018-01-01,2018-01-01 19:30:00.000,19,2018-01-01 19:45:00.000,Bumper Cars,5,18.0,148.0,254.749,254.75,15,15,0,18.0
2,2018-01-01,2018-01-01 22:30:00.000,22,2018-01-01 22:45:00.000,Rapids Ride,0,1.0,0.0,0.000,0.00,0,0,0,2.0
3,2018-01-01,2018-01-01 12:45:00.000,12,2018-01-01 13:00:00.000,Crazy Dance,5,1.0,46.0,250.001,250.00,15,15,0,1.0
4,2018-01-01,2018-01-01 17:00:00.000,17,2018-01-01 17:15:00.000,Skyway,5,15.0,92.0,211.500,198.25,15,15,0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3509319,2022-08-18,2022-08-18 18:45:00.000,18,2022-08-18 19:00:00.000,Himalaya Ride,0,0.0,0.0,0.000,0.00,0,0,0,1.0
3509320,2022-08-18,2022-08-18 10:15:00.000,10,2022-08-18 10:30:00.000,Crazy Dance,0,0.0,0.0,0.000,0.00,0,0,0,1.0
3509321,2022-08-18,2022-08-18 09:15:00.000,9,2022-08-18 09:30:00.000,Crazy Dance,0,0.0,0.0,0.000,0.00,0,0,0,1.0
3509322,2022-08-18,2022-08-18 20:30:00.000,20,2022-08-18 20:45:00.000,Giga Coaster,0,0.0,0.0,0.000,0.00,0,0,0,24.0
3509323,2022-08-18,2022-08-18 10:45:00.000,10,2022-08-18 11:00:00.000,Oz Theatre,0,2.0,0.0,0.000,0.00,0,0,0,2.0

In [4]:
df["WORK_DATE"] = pd.to_datetime(df["WORK_DATE"])

In [5]:
df = df.sort_values(by="WORK_DATE", ascending=False)

In [6]:
# Extract the first non-zero capacity for each ride
def first_non_zero(series):
    # Find the first non-zero value in the series
    non_zero_values = series[series != 0]
    if not non_zero_values.empty:
        return non_zero_values.iloc[0]
    else:
        return 0  # Return 0 if all values are zero

In [7]:
# Extract ride capacity for each ride by taking the first non-zero value for each ride
ride_capacity = df.groupby("ENTITY_DESCRIPTION_SHORT")["CAPACITY"].agg(first_non_zero)

In [8]:
ride_capacity = ride_capacity.reset_index()

In [9]:
ride_capacity.rename(columns={"ENTITY_DESCRIPTION_SHORT": "RIDE"}, inplace=True)

In [10]:
ride_capacity

                RIDE  CAPACITY
0     Aeroplane Ride   116.250
1        Bumper Cars   254.749
2        Bungee Jump   306.750
3       Circus Train   350.000
4          Crazy Bus   353.000
5        Crazy Dance   250.001
6      Dizzy Dropper   213.251
7         Drop Tower   140.250
8     Flying Coaster   756.000
9          Free Fall   134.749
10       Giant Wheel   503.750
11      Giga Coaster   705.750
12          Go-Karts   450.500
13           Gondola   437.750
14     Haunted House   180.000
15     Himalaya Ride   300.000
16  Inverted Coaster   355.250
17    Kiddie Coaster   411.750
18         Log Flume   429.500
19    Merry Go Round   484.000
20          Monorail   223.751
21        Oz Theatre   232.500
22       Pirate Ship   306.000
23       Power Tower   234.499
24       Rapids Ride   330.250
25    Reverse Bungee   127.001
26    Roller Coaster    75.000
27        Scooby Doo   425.000
28            Skyway   211.500
29        Sling Shot   157.999
30  Spinning Coaster   526.250
31      Spiral Slide    75.000
32     Superman Ride   243.750
33        Swing Ride   242.250
34      Tilt-A-Whirl   302.000
35          Top Spin   288.250
36     Vertical Drop   411.250
37        Water Ride   247.001
38           Zipline   101.250

In [11]:
ride_capacity.to_csv("data/ride_capacity.csv", index=False)